@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-800;

  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 3px;
  height: 0;
  overflow: visible;

  @apply bg-gray-100;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  @apply bg-blue-500;
}

html::-webkit-scrollbar-button,
html::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.minecraft {
  --light-5: #dadada;
  --dye-font: #383838;
  --bg-primary: #229E45;
}

.vps {
  --light-5: #dadada;
  --dye-font: #383838;
  --bg-primary: #22499e;
}

.nodejs {
  --light-5: #dadada;
  --dye-font: #383838;
  --bg-primary: #1db100;
}

.swap {
  width: max-content;
  padding: 10px 20px;
  padding-left: 10px;
  color: var(--dye-font);
  font-size: 14px;
  background: var(--light-5);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  position: relative;
  left: -17px;
  z-index: 2; 
}

.swap::before {
  content: '';
  width: 20px;
  height: 100%;
  background: var(--light-5);
  clip-path: polygon(100% 0, 100% 48%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
  display: block;
  position: absolute;
  top: 0;
  left: -15px;
  z-index: 1; 
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.swap strong {
  position: relative;
  z-index: 2; 
}

.card:hover .swap {
  color: #fff;
  background: var(--bg-primary); 
}

.card:hover .swap::before {
  background: var(--bg-primary);
}

.card:hover {
  transform: scale(1.04);
}